[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jax = "*"
simpleitk = "*"
ed-es-detection-rl = {editable = true, path = "."}
pandas = "*"
opencv-python = "*"
dm-haiku = "*"
coax = "*"
optax = "*"
gym = "*"
torch = "*"
toml = "*"
chex = "*"
scikit-learn = "*"
dm-acme = {extras = ["jax"], version = "*"}

[dev-packages]
black = "*"
pytest = "*"
pysimplegui = "*"
matplotlib = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
