[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jax = "*"
jaxlib = "*"
simpleitk = "*"
matplotlib = "*"
ed-es-detection-rl = {editable = true, path = "."}
pandas = "*"
opencv-python = "*"
dm-haiku = "*"
coax = "*"
optax = "*"
gym = "*"

[dev-packages]
ipykernel = "*"
black = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
